<nav class="navbar header">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="../assets/images/Logo.png" alt="redwine" width="150"
    /></a>
    <div class="text-center">
      <h1 class="lead text-light">Pizarrita de tareas~</h1>
    </div>
  </div>
</nav>

<div class="bg-light py-5">
  <div class="container text-center">
    <button
      type="button"
      class="btn btn-primary m-3 p-2 text-light addNotita"
      (click)="openModal(modalMensaje)"
    >
      Clickeame para añadir una nueva notita c:
    </button>
  </div>

  <div class="container text-center pb-5">
    <br />

    <div class="container">
      <div class="row">
        <div class="col-3">
          <h3 class="display-6">Planificando</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Planificando'">
                <li class="planificando">
                  <a href="#" (click)="openModal(modalConfirmDelete)">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash"></i></div>
                  </a>

                  <h6>{{ toDoCard.priority }}</h6>
                  <hr />
                  <div style="position: absolute; right: 10px">
                    <i class="bi bi-pencil"></i>
                  </div>
                  <h2>{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn"></button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn" (click)="planificandoAPorHacer(i)">
                        >
                      </button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">Por Hacer</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Por hacer'">
                <li class="porhacer">
                  <a href="#" (click)="openModal(modalConfirmDelete)">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash"></i></div>
                  </a>
                  <h6>{{ toDoCard.priority }}</h6>
                  <hr />
                  <h2>{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn" (click)="porHacerAPlanificando(i)">
                        <
                      </button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn" (click)="porHacerAEnProgreso(i)">
                        >
                      </button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">En Progreso</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'En progreso'">
                <li class="enprogreso">
                  <a href="#" (click)="openModal(modalConfirmDelete)">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash"></i></div>
                  </a>
                  <h6>{{ toDoCard.priority }}</h6>
                  <hr />
                  <h2>{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn" (click)="enProgresoAPorHacer(i)">
                        <
                      </button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn" (click)="enProgresoAFinalizado(i)">
                        >
                      </button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">Finalizado</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Finalizado'">
                <li class="finalizado">
                  <a href="#" (click)="openModal(modalConfirmDelete)">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash"></i></div>
                  </a>
                  <h6>{{ toDoCard.priority }}</h6>
                  <hr />
                  <h2>{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn" (click)="finalizadoAEnProgreso(i)">
                        <
                      </button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn"></button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <nav class="navbar fixed-bottom footer">
      <div class="container">
        <div class="lead text-light"><em> &copy; Redwine Softwares</em></div>
      </div>
    </nav>
  </footer>
</div>
<!-- modal -->
<ng-template #modalMensaje>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Registra tu nueva tarea</span>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="toDoName">Nombre de la tarea</label>
        <input
          type="text"
          class="form-control"
          id="toDoName"
          name="name"
          [(ngModel)]="selectedName"
        />
        <br />
      </div>

      <div class="form-group">
        <label for="priority">Nivel de prioridad</label>
        <select
          class="form-control"
          id="priority"
          name="priority"
          [(ngModel)]="selectedPriority"
        >
          <option *ngFor="let priority of priorities" [value]="priority">
            {{ priority }}
          </option>
        </select>
      </div>

      <br />
      <div class="form-group">
        <label for="status">Estado de la tarea</label>
        <select
          class="form-control"
          id="status"
          name="status"
          [(ngModel)]="selectedStatus"
        >
          <option *ngFor="let stat of status" [value]="stat">
            {{ stat }}
          </option>
        </select>
      </div>

      <br />
      <div class="form-group">
        <label for="category">Categoría</label>
        <select
          class="form-control"
          id="category"
          name="category"
          [(ngModel)]="selectedCategory"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
      <br />

      <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea
          class="form-control"
          id="comment"
          rows="3"
          name="comment"
          [(ngModel)]="selectedComment"
        ></textarea>
      </div>
      <br />

      <input
        type="submit"
        class="btn btn-primary text-light"
        (click)="addToDoCard(); modalRef.hide()"
        value="Agregar"
      />
    </form>
  </div>
</ng-template>

<!-- modal -->
<ng-template #modalConfirmDelete let-i="i">
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Está seguro de eliminar la notita?</span>
    </h4>
    <button type="button" class="close" aria-label="Cancelar" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <div class="modal-body"> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-light" (click)="deleteNotita(i); modalRef.hide()">Aceptar</button>
          <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
        </div>
  <!-- </div> -->
</ng-template>
