<a href="#" (click)="openModal(modalRecycleBin)">
  <div class="recycleBin" triggers="mouseenter:mouseleave" ngbPopover="Papelera de Reciclaje" placement="left"><i class="bi bi-trash2"></i></div>
</a>

<nav class="navbar header">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../assets/images/Logo.png" alt="redwine" width="150" /></a>
    <div class="text-center">
      <h1 class="lead text-light">Pizarrita de tareas~</h1>
    </div>
  </div>
</nav>

<div class="bg-light py-5">
  <div class="container text-center">
    <button type="button" class="btn btn-primary m-3 p-2 text-light addNotita" (click)="openModal(modalInsertNotita); cleanSelectedItems();">
      Clickeame para añadir una nueva notita c:
    </button>
  </div>

  <div class="container text-center pb-5">
    <br />

    <div class="container">
      <div class="row">
        <div class="col-3">
          <h2 class="display-6">Planificando</h2>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Planificando'">
                <li class="planificando">
                  <a href="#" (click)="replaceIndex(i, modalConfirmDelete); ">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash3"></i></div>
                  </a>

                  <h6 class="mx-2">{{ toDoCard.priority }}</h6>
                  <hr />
                  <a href="#" (click)="replaceIndex(i, modalEditNotita); updateSelectedNotita()">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-pencil"></i></div>
                  </a>
                  <h2 class="mx-2">{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn btn-sm"></button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn btn-sm" (click)="planificandoAPorHacer(i)"><i class="bi bi-chevron-double-right"></i></button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">Por Hacer</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Por hacer'">
                <li class="porhacer">
                  <a href="#" (click)="replaceIndex(i, modalConfirmDelete); ">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash3"></i></div>
                  </a>
                  <h6 class="mx-2">{{ toDoCard.priority }}</h6>
                  <hr />
                  <a href="#" (click)="replaceIndex(i, modalEditNotita); updateSelectedNotita()">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-pencil"></i></div>
                  </a>
                  <h2 class="mx-2">{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn btn-sm" (click)="porHacerAPlanificando(i)"><i class="bi bi-chevron-double-left"></i></button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn btn-sm" (click)="porHacerAEnProgreso(i)"><i class="bi bi-chevron-double-right"></i></button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">En Progreso</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'En progreso'">
                <li class="enprogreso">
                  <a href="#" (click)="replaceIndex(i, modalConfirmDelete); ">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash3"></i></div>
                  </a>
                  <h6 class="mx-2">{{ toDoCard.priority }}</h6>
                  <hr />
                  <a href="#" (click)="replaceIndex(i, modalEditNotita); updateSelectedNotita()">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-pencil"></i></div>
                  </a>
                  <h2 class="mx-2">{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn btn-sm" (click)="enProgresoAPorHacer(i)"><i class="bi bi-chevron-double-left"></i></button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn btn-sm" (click)="enProgresoAFinalizado(i)"><i class="bi bi-chevron-double-right"></i></button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>

        <div class="col-3">
          <h3 class="display-6">Finalizado</h3>
          <ul>
            <div *ngFor="let toDoCard of toDoCards; index as i">
              <div *ngIf="toDoCard.status === 'Finalizado'">
                <li class="finalizado">
                  <a href="#" (click)="replaceIndex(i, modalConfirmDelete); ">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash3"></i></div>
                  </a>
                  <h6 class="mx-2">{{ toDoCard.priority }}</h6>
                  <hr />
                  <a href="#" (click)="replaceIndex(i, modalEditNotita); updateSelectedNotita()">
                    <div style="position: absolute; right: 10px; color: black"><i class="bi bi-pencil"></i></div>
                  </a>
                  <h2 class="mx-2">{{ toDoCard.name }}</h2>
                  <p>{{ toDoCard.comment }}</p>
                  <hr />
                  <table style="margin: auto">
                    <td>
                      <button class="btn btn-sm" (click)="finalizadoAEnProgreso(i)"><i class="bi bi-chevron-double-left"></i></button>
                    </td>
                    <td>
                      <h6>{{ toDoCard.category }}</h6>
                    </td>
                    <td>
                      <button class="btn btn-sm"></button>
                    </td>
                  </table>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <nav class="navbar fixed-bottom footer">
      <div class="container">
        <div class="text-light copyright"><em>copyright: 2022 | &copy; Redwine Softwares</em></div>
      </div>
    </nav>
  </footer>
</div>

<!-- modal -->
<ng-template #modalInsertNotita>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Registra tu nueva tarea</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="toDoName">Nombre de la tarea</label>
        <input
        type="text"
        class="form-control"
        id="toDoName"
        name="name"
        [(ngModel)]="selectedName"
        #inputName="ngModel"
        [ngClass]="{
          'valid': inputName.valid,
          'invalid': inputName.invalid
        }"
        required/>
        <p class="message-error" [class.invalid]="inputName.invalid">
          El campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="priority">Nivel de prioridad</label>
        <select
        class="form-control"
        id="priority"
        name="priority"
        [(ngModel)]="selectedPriority"
        #inputPriority="ngModel"
        [ngClass]="{
          'valid': inputPriority.valid,
          'invalid': inputPriority.invalid
        }"
        required>
          <option *ngFor="let priority of priorities" [value]="priority">
            {{ priority }}
          </option>
        </select>
        <p class="message-error" [class.invalid]="inputPriority.invalid">
          El campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="status">Estado de la tarea</label>
        <select
        class="form-control"
        id="status" name="status"
        [(ngModel)]="selectedStatus"
        #inputStatus="ngModel"
        [ngClass]="{
          'valid': inputStatus.valid,
          'invalid': inputStatus.invalid
        }"
        required>
          <option *ngFor="let stat of status" [value]="stat">
            {{ stat }}
          </option>
        </select>
        <p class="message-error" [class.invalid]="inputStatus.invalid">
          El campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="category">Categoría</label>
        <select
        class="form-control"
        id="category"
        name="category"
        [(ngModel)]="selectedCategory"
        #inputCategory="ngModel"
        [ngClass]="{
          'valid': inputCategory.valid,
          'invalid': inputCategory.invalid
        }"
        required>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
        <p class="message-error" [class.invalid]="inputCategory.invalid">
          El campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea class="form-control" id="comment" rows="3" name="comment" [(ngModel)]="selectedComment"></textarea>
      </div>
      <br />

      <div class="modal-footer">
        <input type="submit" class="btn btn-primary text-light" (click)="addNotita(); " value="Agregar" />
        <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- modal -->
<ng-template #modalEditNotita>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Edita tu notita</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">
    <form #formEditNotita="ngForm">
      <div class="form-group">
        <label for="toDoName">Nombre de la tarea</label>
        <input
        type="text"
        class="form-control"
        id="toDoName"
        name="name"
        [(ngModel)]="selectedName"
        #inputName="ngModel"
        [value]="selectedName"
        [ngClass]="{
          'valid': selectedName,
          'invalid': !selectedName
        }"
        required/>
        <p class="message-error" [class.invalid]="!selectedName">
          El campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="priority">Nivel de prioridad</label>
        <select class="form-control" id="priority" name="priority" [(ngModel)]="selectedPriority" required>
          <option *ngFor="let priority of priorities" [value]="priority">
            {{ priority }}
          </option>
        </select>
      </div>

      <br />
      <div class="form-group">
        <label for="status">Estado de la tarea</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="selectedStatus" required>
          <option *ngFor="let stat of status" [value]="stat">
            {{ stat }}
          </option>
        </select>
      </div>

      <br />
      <div class="form-group">
        <label for="category">Categoría</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="selectedCategory" required>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
      <br />

      <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea class="form-control" id="comment" rows="3" name="comment" [(ngModel)]="selectedComment"></textarea>
      </div>
      <br />

      <div class="modal-footer">
        <input [disabled]="formEditNotita.invalid" type="submit" class="btn btn-primary text-light" (click)="editNotita(); " value="Editar" />
        <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- modal -->
<ng-template #modalConfirmDelete>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Está seguro de eliminar la notita?</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-primary text-light" (click)="deleteNotita(); modalRef.hide()">Aceptar</button> -->
    <button type="button" class="btn btn-primary text-light" (click)="recycleNotita()">Aceptar</button>
    <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>


<!-- modal -->
<ng-template #modalRecycleBin>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Papelera de reciclaje</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">

      <div *ngFor="let recycleCard of recycleBin; index as i">
        <li class="recycleCard">
          <a href="#" (click)="replaceIndex(i, modalPermanentDeleteNotita); ">
            <div style="position: absolute; right: 10px; color: black"><i class="bi bi-trash3"></i></div>
          </a>
          <h6 class="mx-2">{{ recycleCard.priority }}</h6>
          <hr />
          <a href="#" (click)="replaceIndex(i, modalRestoreNotita);">
            <div style="position: absolute; right: 10px; color: black"><i class="bi bi-arrow-counterclockwise"></i></div>
          </a>
          <h2 class="mx-2">{{ recycleCard.name }}</h2>
          <p>{{ recycleCard.comment }}</p>
          <hr />
          <table style="margin: auto">
            <td>
            </td>
            <td>
              <h6>{{ recycleCard.category }}</h6>
            </td>
            <td>
            </td>
          </table>
        </li>
        <br>
        <br>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>


<!-- modal -->
<ng-template #modalRestoreNotita>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Está seguro que desea restaurar la notita?</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary text-light" (click)="restoreNotita()">Restaurar</button>
    <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>


<!-- modal -->
<ng-template #modalPermanentDeleteNotita>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>¿Eliminar permanentemente la notita?</span>
    </h4>
    <button class="btn " (click)="modalRef.hide()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary text-light" (click)="deleteNotita()">Eliminar</button>
    <button type="button" class="btn btn-primary text-light" (click)="modalRef.hide()">Cancelar</button>
  </div>
</ng-template>
