@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  // --main-color: rgb(255, 204, 252);
  // --main-color: rgb(218, 16, 174);
  --main-color: #8B1E4A;
}

.header{
  background-color: var(--main-color);
  padding: 0px;
  // color: black;
}

.footer {
  background-color: var(--main-color);
  padding: 3px;
}

.header h1 {
  font-size: 150%;
}

.footer h1 {
  font-size: 120%;
}

.btn-primary {
  background-color: var(--main-color);
  color: black;
  border: none;
  -moz-transition: -moz-transform .10s linear;
  -o-transition: -o-transform .10s linear;
  -webkit-transition: -webkit-transform .10s linear;
}

.btn-primary:hover {
  background-color: var(--main-color);
  color: black;
  border: none;
  transform: scale(1.1);
  // text-align: ev;
}

.display-6 {
  font-size: 160%;
}


// -------------------------
ul,
li {
  list-style: none;
}

ul {
  overflow: hidden;
  // padding:3em;
}

ul li {
  margin: 1em;
  float: left;
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

ul li {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  // height:10em;
  // width:10em;
  padding: 1em;
  -moz-box-shadow: 3px 3px 5px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 3px 3px 5px rgba(33, 33, 33, .7);
  box-shadow: 3px 3px 5px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

ul li h2 {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

ul li h6 {
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
}

ul li p {
  font-family: "Segoe Script";
  font-size:90%;
}

ul li.porhacer {
  padding: 1em;
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}

ul li.enprogreso {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}

ul li.finalizado {
  -o-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  position: relative;
  top: -5px;
  background: rgb(255, 204, 221);
}

.recycleCard {
  padding: 1em;
  // -o-transform: rotate(4deg);
  // -webkit-transform: rotate(4deg);
  // -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: rgb(255, 240, 231);
}

ul li:hover {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .7);
  -moz-box-shadow: 5px 5px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 5px 5px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  position: relative;
  z-index: 5;
}


.copyright {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.recycleBin {
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: #5f0d2e;
  font-size: 250%;
}
